# Environment files
.env
*.env
!.env.example

# PHP/Laravel
/vendor/
/node_modules/
/storage/*.key
/storage/logs/
/bootstrap/cache/*.php

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Logs / temp
*.log
*.tmp

laravel_app/storage/app/*.json
laravel_app/storage/app/*.csv

laravel_app/storage/app/*
!laravel_app/storage/app/.gitignore
!laravel_app/storage/app/public/
!laravel_app/storage/app/private/
